@media (max-width: 1080px) {
  .main-container {
    flex-direction: column;
    width: 350px;
    height: 1080px;
  }
  .seperator {
    margin: 5px auto;
  }
  .bax {
    width: 250px;
    height: 323px;
  }
}
